@page "/"
@using SkyDocs.Blazor.Shared

@if ((skyDocsService.IsLoggedIn || skyDocsService.DocumentList.Any()) && skyDocsService.CurrentDocument == null && !skyDocsService.IsLoading)
{
    <div class="cards">
        <section class="card card-new">
            <h2>New Document</h2>
            <Button ClassName="primary" OnClick="@NewDocument">+ Blank</Button>
        </section>

        @foreach (var document in skyDocsService.DocumentList.OrderByDescending(x => x.ModifiedDate))
        {
            <Card Document="@document" OnClick="@(x => NavigateToDocument(document.Id))" />
        }
    </div>

}
else if (skyDocsService.CurrentDocument != null)
{
    <Title>SkyDocs - @skyDocsService.CurrentDocument.Title</Title>

    <div>
        <Button OnClick="@GoToList" ClassName="link link-with-icon back"><RadzenIcon Icon="arrow_back" />Back</Button>    

        <div class="document">
            <RadzenTextBox Placeholder="Title" @bind-Value="@skyDocsService.CurrentDocument.Title" class="document-title" Style="width:100%" />

            <RadzenHtmlEditor @bind-Value=@skyDocsService.CurrentDocument.Content
                            id="rte"
                            UploadUrl="https://skydocs-shareserver.azurewebsites.net/image/upload"
                            Visible="skyDocsService.CurrentDocument.Content != null">
                <RadzenHtmlEditorUndo />
                <RadzenHtmlEditorRedo />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorBold />
                <RadzenHtmlEditorItalic />
                <RadzenHtmlEditorUnderline />
                <RadzenHtmlEditorStrikeThrough />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorAlignLeft />
                <RadzenHtmlEditorAlignCenter />
                <RadzenHtmlEditorAlignRight />
                <RadzenHtmlEditorJustify />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorIndent />
                <RadzenHtmlEditorOutdent />
                <RadzenHtmlEditorUnorderedList />
                <RadzenHtmlEditorOrderedList />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorColor />
                <RadzenHtmlEditorBackground />
                <RadzenHtmlEditorRemoveFormat />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorSubscript />
                <RadzenHtmlEditorSuperscript />
                <RadzenHtmlEditorSeparator />
                <RadzenHtmlEditorLink />
                <RadzenHtmlEditorUnlink />
                <RadzenHtmlEditorFontName />
                <RadzenHtmlEditorFontSize />
                <RadzenHtmlEditorFormatBlock />
            </RadzenHtmlEditor>
        </div>

        <div class="document-actions @(skyDocsService.IsLoggedIn ? "" : "not-logged-in")">
            @if (skyDocsService.IsLoggedIn && skyDocsService.CurrentSum?.PrivateKey != null)
            {
                <Button OnClick="@OnDelete" ClassName="link delete">Delete</Button>
                <Button OnClick="@OnShare" ClassName="white-with-icon">Share</Button>
            }

            @if (skyDocsService.IsLoggedIn)
            {
                if (skyDocsService.CurrentSum?.PrivateKey != null)
                {
                    <Button OnClick="@OnSave" ClassName="primary">Save</Button>
                }
                else if (skyDocsService.CurrentSum == null)
                {
                    <Button OnClick="@OnSave" ClassName="primary">Save</Button>
                }
                else
                {
                    <Button OnClick="@OnSave" ClassName="primary">Save as copy</Button>
                }
            }
            else
            {
                <span>You're not logged in.</span>
                <Button OnClick="@Login" ClassName="primary">Login</Button>
            }
        </div>

    </div>

}
