@page "/"
@using SkyDocs.Blazor.Shared

@if ((skyDocsService.IsLoggedIn || skyDocsService.DocumentList.Any()) && skyDocsService.CurrentDocument == null && !skyDocsService.IsLoading)
{
    <div class="cards">
        <section class="card card-new">
            <h2>New Document</h2>
            <Button ClassName="primary" OnClick="@NewDocument">+ Blank</Button>
        </section>

        @foreach (var document in skyDocsService.DocumentList.OrderByDescending(x => x.ModifiedDate))
        {
            <Card Document="@document" OnClick="@(x => NavigateToDocument(document.Id))" />
        }
    </div>

}
else if (skyDocsService.CurrentDocument != null)
{
    <Title>SkyDocs - @skyDocsService.CurrentDocument.Title</Title>

    <div>
        <RadzenTextBox Placeholder="Title" @bind-Value="@skyDocsService.CurrentDocument.Title" Style="width:100%" />

        <RadzenHtmlEditor @bind-Value=@skyDocsService.CurrentDocument.Content
                          id="rte"
                          UploadUrl="https://skydocs-shareserver.azurewebsites.net/image/upload"
                          Visible="skyDocsService.CurrentDocument.Content != null"
                          style="margin-bottom: 1rem;height:75vh">
            <RadzenHtmlEditorUndo />
            <RadzenHtmlEditorRedo />
            <RadzenHtmlEditorSeparator />
            <RadzenHtmlEditorBold />
            <RadzenHtmlEditorItalic />
            <RadzenHtmlEditorUnderline />
            <RadzenHtmlEditorStrikeThrough />
            <RadzenHtmlEditorSeparator />
            <RadzenHtmlEditorAlignLeft />
            <RadzenHtmlEditorAlignCenter />
            <RadzenHtmlEditorAlignRight />
            <RadzenHtmlEditorJustify />
            <RadzenHtmlEditorSeparator />
            <RadzenHtmlEditorIndent />
            <RadzenHtmlEditorOutdent />
            <RadzenHtmlEditorUnorderedList />
            <RadzenHtmlEditorOrderedList />
            <RadzenHtmlEditorSeparator />
            <RadzenHtmlEditorColor />
            <RadzenHtmlEditorBackground />
            <RadzenHtmlEditorRemoveFormat />
            <RadzenHtmlEditorSeparator />
            <RadzenHtmlEditorSubscript />
            <RadzenHtmlEditorSuperscript />
            <RadzenHtmlEditorSeparator />
            <RadzenHtmlEditorLink />
            <RadzenHtmlEditorUnlink />
            <RadzenHtmlEditorFontName />
            <RadzenHtmlEditorFontSize />
            <RadzenHtmlEditorFormatBlock />
        </RadzenHtmlEditor>

        <div style="text-align:right">
            @if (skyDocsService.IsLoggedIn && skyDocsService.CurrentSum?.PrivateKey != null)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Info" Click="@OnShare">Share</RadzenButton>
                <RadzenButton ButtonStyle="ButtonStyle.Danger" Click="@OnDelete">Delete</RadzenButton>
            }
            <RadzenButton ButtonStyle="ButtonStyle.Secondary" Click="@GoToList">Back</RadzenButton>
            @if (skyDocsService.IsLoggedIn)
            {
                if (skyDocsService.CurrentSum?.PrivateKey != null)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Click="@OnSave">Save</RadzenButton>
                }
                else if (skyDocsService.CurrentSum == null)
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Click="@OnSave">Save</RadzenButton>
                }
                else
                {
                    <RadzenButton ButtonStyle="ButtonStyle.Success" Click="@OnSave">Save a copy</RadzenButton>
                }
            }
            @if (!skyDocsService.IsLoggedIn)
            {
                <RadzenButton ButtonStyle="ButtonStyle.Success" Click="@Login">Login</RadzenButton>
            }
        </div>

    </div>

}
