@page "/"

@if (skyDocsService.IsLoggedIn && skyDocsService.CurrentDocument == null && !skyDocsService.IsLoading)
{
    <div class="row">
        <RadzenCard class="docCard">
            <h2>New Document</h2>
            <RadzenButton @onclick="@NewDocument">Blank</RadzenButton>
        </RadzenCard>

        @foreach (var document in skyDocsService.DocumentList.OrderByDescending(x => x.ModifiedDate))
        {
            <RadzenCard class="docCard" @onclick="@(x => OpenDocument(document.Id))">
                @if (document.PreviewImage != null)
                {
                    <RadzenImage Path="@string.Format("https://siasky.net/{0}", document.PreviewImage)" Style="width:100%;height:auto" Alt="@document.Title">
                    </RadzenImage>
                }

                <h3>@document.Title</h3>
                <RadzenButton>Edit</RadzenButton>

            </RadzenCard>
        }

    </div>

}
else if (skyDocsService.CurrentDocument != null)
{
    <RadzenTextBox Placeholder="Title" @bind-Value="@skyDocsService.CurrentDocument.Title" />

    <RadzenHtmlEditor @bind-Value=@DocumentSource
                      id="rte"
                      Visible="DocumentSource != null"
                      style="height: 500px; margin-bottom: 1rem;" />
}


@if (skyDocsService.CurrentDocument != null)
{
    <button Class="btn-icon" Size="Size.ExtraSmall" @onclick="@OnDelete">delete icon</button>
    <button Class="btn-icon" Size="Size.ExtraSmall" @onclick="@OnSave">save icon</button>

    <div style="text-align:right" id="test">
        <button Color="Color.Danger" @onclick="@GoToList">Back</button>
        <button Color="Color.Success" @onclick="@OnSave">Save</button>
    </div>
}